{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Головна</title>
		<link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/jpg">
		<meta name="author" content="LeagueOfJustice">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/customFont.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background: #f0f0f0">
			<a class="navbar-brand" href="main.html">
				<img src="{% static 'images/icon.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		  		<ul class="navbar-nav mr-auto">
		  		</ul>
		    	<ul class="nav navbar-nav">
		      		<li class="nav-item active">
		        		<a class="nav-link" href="main.html">Головна <span class="sr-only">(current)</span></a>
		      		</li>
		      		<li class="nav-item dropdown">
		        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          		Документи
		        		</a>
		        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          			<a class="dropdown-item" href="recieved.html">Отримані</a>
		          			<a class="dropdown-item" href="sent.html">Надіслані</a>
		        		</div>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="#">Відгуки</a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="#" style="color:#6b6a6a"></a>
		      		</li>
		      		<li class="nav-item">
		        		<a class="nav-link" href="login.html" style="color:#6b6a6a">Вихід</a>
		      		</li>
		    	</ul>
		  	</div>
		</nav>

		<div class="container">
			<br>
			<center><a href="document_tamplates.html"><button type="button" class="btn btn-primary">Створити документ</button></a></center>
			<br>
			<h3>Останні отримані документи:</h3>
			<br>
			<div class="row" style="margin-bottom: 10px">
				<div class = "col-3">
					<h5>Тип документа</h5>
				</div>
				<div class = "col-3">
					<h5>Номер справи</h5>
				</div>
				<div class = "col-2">
					<h5>Відправник</h5>
				</div>
				<div class = "col-2">
					<h5>Дата</h5>
				</div>
				<div class = "col-2">
					<h5></h5>
				</div>
			</div>
			<div class="list-group">
				{% for mail in mails %}
				<a href="{% url 'mail_detail' id_mail=mail.id_mail %}" class="list-group-item list-group-item-action">
					<div class="row">
						<div class = "col-3">
							<img src="{% static 'images/document.png' %}" height="30" width="30" alt="">
							<span>{{mail.get_document.template}}</span>
						</div>
						<div class = "col-3">
							<span>{{mail.get_document.case_id}}</span>
						</div>
						<div class="col-2">
							<span>{{mail.sender.name}}</span>
						</div>
						<div class="col-2">
							<span>{{mail.sending_date}}</span>
						</div>
						<div class="col-2">
							<span>
								<button type="button" class="btn btn-link" onclick="cloud()">
									<img src="{% static 'images/cloud.png' %}" height="30" width="30" alt="">
								</button>
								<button type="button" class="btn btn-link" onclick="print()">
									<img src="{% static 'images/print.png' %}" height="30" width="30" alt="">
								</button>
							</span>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>

		<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script>
			function cloud(){
				alert("Cloud");
			}
			function print(){
				alert("Print");
			}
		</script>
	</body>
</html>
